body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
  }
  
  .slider_wrapper {
      width: 100vw;
      height: 100vh;
      position: relative;
  }
  
  .container {
      display: flex;
      width: 300vw;
      /* 3 Seiten */
      height: 100%;
      transition: transform 0.5s ease-in-out;
  }
  
  .page {
      flex: 0 0 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      color: #fff;
  }
  
  /* Hintergrundfarbe der verschiedenen Seiten*/
  .page:nth-child(1) {
      background: #3421FF;
  }
  
  .page:nth-child(2) {
      background: #49F858;
  }
  
  .page:nth-child(3) {
      background: #E773ED;
  }

  .page:nth-child(4) {
    background: #72FDFF;
}
  
  .page_buttons {
      margin-top: 20px;
  }
  
  .page_buttons button {
      font-size: 1em;
      margin: 10px;
      padding: 10px 20px;
      cursor: pointer;
  }
  
  .controls {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      padding: 0 20px;
      pointer-events: none;
  }
  
  .controls button {
      font-size: 2em;
      padding: 10px 20px;
      cursor: pointer;
      pointer-events: all;
      background: rgba(255, 255, 255, 0.7);
      border: none;
      border-radius: 10px;
  }
  
  /*Bild Hover*/
  .bild_container {
      width: 300px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
  }
  
  .bild_container img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;
  }
  
  .bild_container:hover img {
      transform: scale(1.1);
      /* 10% größer beim Hover */
  }


  